@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap");

.container h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	font-family: righteous;
	text-transform: uppercase;
	padding-top: 0rem !important;
	position: relative;
}
.container h1::before {
	content: "";
	height: 2px;
	background-color: #febd01;
	width: 160px;
	position: absolute;
	bottom: 0;
	transition: all 0.5s ease;
}
.container .row {
	margin-top: 1rem !important;
	margin-bottom: 4rem !important;
}
.container .row .col-lg-6 form label {
	font-family: roboto condensed;
}
.container .table th{
    font-family:roboto condensed ;
}